.bienvenida {
  text-align: center;
  padding: 5rem;
  background-color: #142850;
  color: white;
font-family: 'Noto Serif', serif;


}

.cuerpo{

font-family: 'Montserrat', sans-serif;
}



.tabla{
  font-family: 'Balsamiq Sans';


}


.titulo{
font-family: 'Quicksand', sans-serif
}


.topico{
color: #c70039;

}

.introduccion {
  margin-top: 3rem;
}

.table .principal {
  margin-top: 3rem;
}

.tema {
  font-size: 12px;
}

.pema {
  padding-top: 30px;
  color: #142850;
}

.titulo-principal {
  margin-top: 4rem;
  margin-bottom: 3rem;
}

.tp {
  text-align: center;
  font-size: 12.36px;
}

.descripcion {
  font-size: 13.3px;
  text-align: center;
}

.header {
  text-align: center;
}

.material {
  text-align: center;
  font-size: 15px;
}
